/*
Colors Used:
Primary Color (Melanie): #d9b0cf: 
Secondary Color (Eggplant): #5e3454:
Link Color (Thunderbird): #db3218:
Link Color-Hover (Pesto): #897b34:
Header/Footer BG : #fff3b9:

Fonts Used
Primary Font : Lexend
*/
header {
    background-color: #fff3b9;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #4a4a4a;
    position:fixed;
    width: 100%;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
   }
  nav > ul> li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  
body {
      background-color:#d9b0cf;
      font-family:'Lexend', sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.6;
      color: #5e3454;
  }

  main {
    padding-top: 170px;
  }
  
  h1, h2, h3, h4 {
      line-height: 1.4;
    }
    h1 {
      font-size: 2.75em;
      font-weight: 900;
    }
    
    h2 {
      font-size: 2.25em;
      font-weight: 900;
    }
    
    h3 {
      font-size: 1.75em;
      font-weight: 400;
    }
    h4 {
      font-size: 1.35em;
      font-weight: 400;
      text-align: center;
    }
  img {
      width: 100%;
    } 
  /*Buttons*/
    .button {
      display: inline-block;
      background-color: #5e3454;
      color: #ffffff !important; /* needed to override the default link color */
      font-weight: 400;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid #994c30; /* width of the border, type, color */
      transition: 0.2s opacity;
    }
    .button:hover {
      opacity: 0.8; /* Reduces the opacity of the button to 80% */
      text-decoration: none;
    }
    .button.contact {
      background-color: transparent;
      color: #db3218 !important;
      text-transform: uppercase;
      border: 2px solid #db3218;
    }
    .button.contact:hover {
      background-color: #5e3454;
      color: #ffffff !important;
    }
  /* Links*/
    a {
      color: #db3218;
      text-decoration: none; /* No underlining */
    }
    a:visited { /* visited link */
      color: #db3218;
    }
    a:hover {
      color: #897b34;
      text-decoration: underline; /* Underlining when hovering over a link */
    } 
    a:hover,
    a:focus {
      color: #897b34;
      text-decoration: underline;
    }
    a:active { /* selected link */
      color: #581b04;
    }
/*Layout Styling*/
    .container {
      padding: 0 15px;
    }
    #projects .row {
      margin: 25px 0; /* 25px top and bottom, 0 left and right */
    }
    .row {
      border-bottom: 3px solid #4a4a4a;
      padding: 25px;
    }
    #hero h1 {
      text-align: center; /* Centers text */
    }
    h3 {
      text-align: center;
    }
    .logo {
      max-width: 250px;
    }
    .projectcard {
      max-width: 800px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #hero {
      background-color: #fff3b9;
      padding: 20px 0;
      display: inline-block;
      width: 100%;
      border-bottom: 3px solid #4a4a4a;
    }
footer {
      background-color: #fff3b9;
      margin: 0;
      padding: 20px;
      border-top: 3px solid #4a4a4a;
      text-align: center;
    }